@import "./../../../app";

.page {
  position: relative;

  .page_bt {
    width: 100%;
    position: absolute;
    height: 100rpx;
    z-index: 100;
    line-height: 100rpx;
    top: 0rpx;
    opacity: 0;
  }

  .page_slot {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

  .page_text {
    display: inline-block;
    text-align: center;
    .font(30rpx, 700, @regular_family, #333, 44rpx);
  }

  .book_text {
    .font(26rpx, 400, @regular_family, #576B95, 36rpx);
  }

  .slot_text{
    .font(26rpx, 400, @regular_family, #999, 36rpx);
  }

}
