@primary_color: #483D8B;

@medium_family: PingFangSC-Medium, PingFang SC;
@regular_family: PingFangSC-Regular, PingFang SC;

.absolute_zero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fixed_bottom(@bottom:0rpx) {
  bottom: @bottom;
  position: fixed;
  width: 100%;
}

.padding(@padding_r_l: 32rpx) {
  padding: 0 @padding_r_l;
}

.border(@radius: 40rpx, @line-width: 2rpx, @color: #EEE) {
  border-radius: @radius;
  border: @line-width solid @color;
}

.flex(@justify-content: space-between) {
  display: flex;
  justify-content: @justify-content;
  align-items: center;
  align-items: center;
}

.font(@size: 44rpx, @weight: 600, @family: @medium_family, @color: #EEE, @line-height: 42rpx) {
  font-size: @size;
  font-family: @family;
  font-weight: @weight;
  color: @color;
  line-height: @line-height;
}

.hover {
  background-color: #f9f9f9;
}

.width_height(@width: 60rpx, @height: 42rpx) {
  width: @width;
  height: @height;
}
