$primary_color: #FD6B6C;
$medium_family: PingFangSC-Medium,
PingFang SC;
$regular_family: PingFangSC-Regular,
PingFang SC;

.absolute_zero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin fixed_bottom($bottom) {
  bottom: $bottom;
  position: fixed;
  width: 100%;

}

@mixin padding($padding_r: 32px) {
  padding: 0 $padding_r;
}

@mixin border($radius: 40px, $line-width: 2px, $color:#EEE) {
  border-radius: $radius;
  border: $line-width solid $color;
}

@mixin flex($justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  align-items: center;
}

@mixin font($size: 44px, $weight: 600, $family: $medium_family, $color:#EEE, $line-height: 42px) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
}

@mixin width_height($width: 60rpx, $height: 42rpx) {
  width: $width;
  height: $height;
}
