<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cui.tech.manage.service.mapper.ChaosRolePermissionMapper">
    <select id="selectRolePermissionByData"
            resultType="com.cui.tech.manage.api.data.ChaosRolePermissionData">
    SELECT
	crp.role_mu,
	crp.permission_mu,
	cp.title permissionTitle
    FROM
        chaos_role_permission crp
    LEFT JOIN chaos_permission cp ON crp.permission_mu = cp.mu
    WHERE
    crp.is_delete=0 AND cp.is_delete=0 AND
    crp.role_mu = #{roleMu}
    </select>
    <select id="selectPermissionMusByRoleMu"
            resultType="java.lang.String">
    SELECT
	crp.permission_mu
    FROM
        chaos_role_permission crp
    WHERE
    crp.is_delete=0
    AND crp.role_mu = #{roleMu}
    </select>
</mapper>
