@import '@/styles/theme';

AtIcon {
    margin: 14rpx 22rpx;
}

AtInput {
    font-size: 28rpx;
    color: #000;
    width: 600rpx;
}

.input-placeholder {
    font-size: 28rpx;
    color: #808080;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18rpx;
    padding-left: 32rpx;
    padding-right: 40rpx;

    .search_left {
        display: flex;
        align-items: center;
        width: 600rpx;
        border: 2rpx #eee solid;
        border-radius: 40rpx;
    }

    .search_right {
        font-size: 30rpx;
        color: $primary_color;
    }
}