<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firepongo.chaos.admin.service.mapper.ChaosAdminMapper">

    <update id="updateLoginLog">
        UPDATE chaos_admin
        SET login_times = login_times + 1,lastlogin_time=now(),
        ip = #{ip}
        WHERE
        mu = #{mu}
    </update>

    <select id="selectIndexLink" resultType="com.firepongo.chaos.app.admin.ChaosRoleData">
        SELECT
	        cr.index_link,cr.info
        FROM
            chaos_admin ca
        LEFT JOIN chaos_admin_role car ON ca.mu = car.admin_mu
        LEFT JOIN chaos_role cr ON car.role_mu = cr.mu
        WHERE
	        ca.mu = #{mu}
    </select>

    <select id="selectAdminRoleByMU"
            resultType="com.firepongo.chaos.app.admin.ChaosAdminData">
        SELECT
            ca.username,
            ca. NAME,
            ca.`status`,
            ca.platform_mu,
            car.role_mu,
            ca.phone
        FROM
            chaos_admin ca
        LEFT JOIN chaos_admin_role car ON car.admin_mu = ca.mu
        WHERE
            ca.mu = #{mu}
    </select>

    <select id="listAdminRole"
            resultType="com.firepongo.chaos.app.admin.ChaosAdminData">
        SELECT
            ca.mu,
            ca.username,
            ca. NAME,
            ca.`status`,
            ca.platform_mu,
            car.role_mu
        FROM
            chaos_admin ca
        LEFT JOIN chaos_admin_role car ON car.admin_mu = ca.mu
        WHERE
            ca.platform_mu = #{query.platformMu}
            and car.role_mu = #{query.roleMu}
            and ca.status = #{query.status}
    </select>

</mapper>
