<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firepongo.chaos.admin.service.mapper.ChaosAdminMapper">
    <update id="updateLoginLog">
        UPDATE chaos_admin
        SET login_times = login_times + 1,lastlogin_time=now(),
        ip = #{ip}
        WHERE
        mu = #{mu}
    </update>

    <select id="selectIndexLink" resultType="com.firepongo.chaos.app.admin.ChaosRoleData">
        SELECT
	        ir.index_link,ir.info
        FROM
            chaos_admin ia
        LEFT JOIN chaos_admin_role iar ON ia.mu = iar.admin_mu
        LEFT JOIN chaos_role ir ON iar.role_mu = ir.mu
        WHERE
	        ia.mu = #{mu}
    </select>
    <select id="selectAdminRoleByMU"
            resultType="com.firepongo.chaos.app.admin.ChaosAdminData">
        SELECT
            ia.username,
            ia. NAME,
            ia.`status`,
            ia.platform_mu,
            iar.role_mu
        FROM
            chaos_admin ia
        LEFT JOIN chaos_admin_role iar ON iar.admin_mu = ia.mu
        WHERE
            ia.mu = #{mu}
    </select>
</mapper>
