@import "./../../../app";

.tabs {
    .flex(center);
    height: 100rpx;
    width: 750rpx;
    background-color: #FFF;

    .tabs-item {
        .font(32rpx, 400, @regular_family, #9A9A9A, 44rpx);
        margin: 0 48rpx;
        padding-bottom: 10rpx;

    }

    .tabs-item.selected {

        border-bottom: 4rpx solid #fd6b6c;
        .font(@size: 32rpx; @color: #333; @line-height: 44rpx; );

    }

}
